<h1>Teams</h1>
<p><%= link_to "New Team", "/teams/new" %></p>
<% @teams.each do |team| %>
  <h3><%= team.name %></h3>
  <p>Wins: <%= team.wins %></p>
  <p>Losses: <%= team.losses %></p>
  <p>Created at: <%= team.created_at %></p>
<% end %>
