<h1><%= @team.name %></h1>
<p><%= link_to "Players", "/teams/#{@team.id}/players" %></p>
<p>Wins: <%= @team.wins %></p>
<p>Losses: <%= @team.losses %></p>
<p>Active?: <%= @team.active %></p>
<p>Number of Players: <%= @team.player_count %></p>
