<h1><%= @player.name %></h1>
<p><%= button_to "Update Player", "/players/#{@player.id}/edit", method: :get %></p>
<p>Team: <%= @player.team.name %></p>
<p>Age: <%= @player.age %></p>
<p>Retired?: <%= @player.retired %></p>
